In [35]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [36]:
import pandas as pd 
df = pd.read_csv("carprices.csv")

df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [37]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols = df.columns.to_list()
for one in range(len(cols)):
    df[cols[one]] = scaler.fit_transform(df[[cols[one]]])

df.head()

    Mileage  Age(yrs)  Sell Price($)
0  0.678832  0.666667       0.214286
1  0.182482  0.166667       0.785714
2  0.503650  0.500000       0.503571
3  0.000000  0.000000       1.000000
4  0.343066  0.333333       0.696429

In [38]:
target = df['Sell Price($)']
df =df.drop('Sell Price($)',axis= 'columns')
df.head()

    Mileage  Age(yrs)
0  0.678832  0.666667
1  0.182482  0.166667
2  0.503650  0.500000
3  0.000000  0.000000
4  0.343066  0.333333

In [39]:
X_train , X_test , y_train , y_test = train_test_split(df,target,train_size = 0.8,random_state=2)
lin = LinearRegression()
lin.fit(X_train,y_train)
lin.score(X_test,y_test)

0.8623792037791015

In [40]:
dtree = DecisionTreeRegressor()
dtree.fit(X_train,y_train)
dtree.score(X_test,y_test)

0.970742141709065

In [41]:
rforest = RandomForestRegressor(n_estimators=10)
rforest.fit(X_train,y_train)
rforest.score(X_test,y_test)

0.9415189137437678

In [42]:
svmm = SVR(kernel ='rbf')
svmm.fit(X_train,y_train)
svmm.score(X_test,y_test)

0.9116225224318946